@import url('https://fonts.google.com/specimen/Kumbh+Sans');
:root{
    --violet: hsl(273, 75%, 66%);
    --blue: hsl(240, 73%, 65%);
    /*text*/
    --V-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --V-dark-desaturated-blue: hsl(238, 29%, 16%);
    --red: hsl(14, 88%, 65%);
    /*divider*/
    --Light-grayish-blue: hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    position: relative;
    font-size: 12px; 
   
}
.container{
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--violet), var(--blue));
    width: 100%;
    
}
.card{
    position: relative;
    width: 920px;
    height: 510px;
    background-color: #fff;
    border-radius: 25px; 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.content{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 60px 0;
    background-image: url('images/bg-pattern-desktop.svg');
    background-position: -573px -305px;
    background-repeat: no-repeat;
}

.imagebox{
    height: 100%;
    position: relative; 
}
.imagebox .woman-box{
    overflow: hidden;
}
.imagebox .woman-desktop{
    transform: translateX(-80px);
}
.imagebox .woman-mobile{
    display: none;
}

.cube{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-130px,-50px);
} 

.faq{  
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.faq h1{
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--V-dark-desaturated-blue);
}
.accordion{
    padding-top: 35px;
    font-weight: 400;
    width: 80%;
}
.Q-A{
    padding: 15px 0;
}
.Q-A .question{
    font-size: 1em;
    font-weight: 600;
    color: var(--V-dark-grayish-blue);
    display: flex;
    justify-content: space-between; 
}
.Q-A .question:hover{
    color: var(--red);
    cursor: pointer;
}
.Q-A input[type = "checkbox"]{
    display: none;
}
.Q-A input:checked ~ .answer{
    display: block;
}
.Q-A .arrow{
    object-fit: contain;
}
.Q-A input:checked ~ label > .arrow{
    transform: rotate(180deg);
}
.Q-A .answer{
    color: var(--Dark-grayish-blue);
    padding-top: 10px;
    display: none;
}


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 768px) {
    .card{
        width: 375px;
        height: 535px;
    }
    .content{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: url('images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 40px 0px;
    
    }
    .imagebox{
        position: absolute;
        top: -130px;
        margin: 0 auto;
    }
    .imagebox .woman-desktop{
        display: none;
    }
    
    .imagebox .woman-mobile{
        display: block;
        width: 100%;
    }
    .cube{
        display: none;
    }
    .faq{
      align-items: center;
      margin-top: 80px;
    }
}